/* StickyChimp Example Stylesheet */

html, body {
    margin: 0;
    padding: 0;

    color: #434343;
    background-color: #FEFEFE;

    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
    color: #232323;
}

a {
    color: #535353;
}

img {
    height: auto;
    max-width: 100%;
    width: auto\9;
}

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 0.8em;
    line-height: 1.2em;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #f9f9f9;
    border: 1px solid #E9E9E9;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

/* GENERAL */

.content {
    padding: 0;
}

.row {
    margin: 0 auto;
    width: 960px;
}

.code-block {
    display: block;
}

@media all and (max-width: 930px) {
    .row {
        padding: 20px;
        width: auto;
    }
}

/* CONTENT */

.hero {
    padding: 30px;
    padding-top: 90px;

    background-color: #C5E0DC;

    text-align: center;
}

.copy {
    padding-bottom: 20px;
}

.copy > p {
    padding-left: 20px;
    padding-right: 20px;
}

/* MENU */

.menu-wrap {
    position: fixed;
    top: 0;

    height: 60px;
    width: 100%;

    background-color: white;

    -webkit-box-shadow: 0 1px 1px rgba(6,8,8,0.1);
    box-shadow: 0 1px 1px rgba(6,8,8,0.1);
}

ul.menu {
    margin: 0;
    padding: 0 0 0 30px;
}

.menu li {
    float: left;

    height: 60px;
    line-height: 60px;
    padding: 0 15px 0 15px;

    font-size: 0.875em;
    font-weight: bold;
    text-align: center;

    cursor: pointer;
    list-style: none;
}

@media all and (max-width: 420px) {
    ul.menu {
        padding: 0;
    }

    .menu li {
        padding: 0;
        width: 20%;
    }
}

.menu li:hover {
    background-color: #EEE;
}

/* FOOTER */

.footer {
    border-top: 1px solid #EEE;
    padding: 10px;

    background-color: #F1F1F1;

    font-size: 0.9em;
    font-style: italic;
    text-align: center;
}

